.DS_Store

#ไฟล์ TEST ลองมันจะอ่านไหม
EGF.html
ABC.html

### เครื่องหมาย "#" เอาไว้ใช้คอมเม้น ในไฟล์นี้
## ข้างล่างนี้คือ ตัวอย่าง  วิธีการใช้งาน ข้างล่างนี้คือตัวอย่างชื่อไฟล์ห้ามบันทึกลงไปใน git ทั้งหมด

#text
# Ignore ข้อมูลลับ
.env
secret.json

# Ignore โฟลเดอร์ที่โปรแกรมสร้างอัตโนมัติ
node_modules/
vendor/
dist/
build/

# Ignore ไฟล์ชั่วคราวของระบบปฏิบัติการ
.DS_Store
Thumbs.db
*.log